/* LoginForm.css */
.login-container {
  max-width: 300px;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label-login {
  display: block;
  margin-bottom: 5px;
}

.input-login {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-login {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-login:hover {
  background-color: #0056b3;
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link span {
  margin-right: 5px;
}