/* SignupForm.css */
.signup-container {
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.signup-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label-signup {
  display: block;
  margin-bottom: 5px;
}


.input-signup,
.select-signup {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-signup {
  width: 100%;
}

.button-signup {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-signup:hover {
  background-color: #0056b3;
}

.login-link {
  margin-top: 10px;
  text-align: center;
}

.login-link span {
  margin-right: 5px;
}